version: 2.1
executors:
  my-custom-executor:
    resource_class: sucicada/test
    docker:
      - image: cimg/base:stable
        auth:
          # ensure you have first added these secrets
          # visit app.circleci.com/settings/project/github/SuCicada/test-github-action/environment-variables
          username: $DOCKER_HUB_USER
          password: $DOCKER_HUB_PASSWORD
orbs:
  self_runner: sucicada/self-runner-env@0.0.1

jobs:
  build:
    executor: my-custom-executor
    steps:
      - checkout
      - run: echo "Hello, world!"
  my-job-name:
    machine: true
    resource_class: sucicada/test
    # executor: my-custom-executor
    # environment:
      # BASH_ENV: /home/circleci/.bashrc
    steps:
      - checkout
      - self_runner/setup
      - run: |
          # ln /home/circleci/.sutools/profile $BASH_ENV
          # sudo ln /etc/profile $BASH_ENV
          # ln /home/circleci/.profile $BASH_ENV
          ls
          pwd
          # sleep 60
          # docker run --rm ubuntu cat /etc/os-release
          # echo "export TEST_NAME=nihaonihaoh" >> bashrc
          # echo "export TEST_NAME=22222" >> "$BASH_ENV"
          # source "$BASH_ENV" && bash test.sh
          # source bashrc && bash test.sh
          # source bashrc && echo TEST_NAME $TEST_NAME
          # bash -c "source ~/.bashrc && bash test.sh"
          # ls $BASH_ENV
          # source $BASH_ENV && echo TEST_NAME $TEST_NAME
          # ls -l bashrc
          # cat bashrc
          # source $BASH_ENV && 
          bash test.sh
      - run: echo "Hello, world!"aaa
      - run: 
          command: |
            curl --request POST 'http://server.sucicada.me:9083/notify/test' \
              --data-urlencode "title=Job: $CIRCLE_JOB" \
              --data-urlencode "body=Project:$CIRCLE_PROJECT_REPONAME \nBranch:$CIRCLE_BRANCH \nCommit:$CIRCLE_SHA1 \nAuthor:$CIRCLE_USERNAME \nCircleCI URL:$CIRCLE_BUILD_URL"
          when: always

workflows:
  my-custom-workflow:
    jobs:
      - my-job-name
      - build